<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ReferenceDataEntities" connectionString="metadata=res://*/Model.ReferenceDataModel.csdl|res://*/Model.ReferenceDataModel.ssdl|res://*/Model.ReferenceDataModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Model\ReferenceData.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>